# Copy this file to .env and fill in your values.
# .env is git-ignored and will NOT be committed.

DATABASE_URL=postgres://user:password@host:5432/dbname
GIS_HOST=maps5.vcgov.org
POLL_INTERVAL=60
LOG_LEVEL=debug
WEBCAM_URL=https://kubrick.htvapps.com/htv-prod-media.s3.amazonaws.com/images/dynamic/wesh/CAM13.jpg
NOAA_TIDE_STATION=8721164
NOAA_TEMP_STATIONS=8721604,8720218
